h6
{
  color: white;
}

body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textCar{
  text-align: right;
  width: 38%;
  position: relative;
  left: 70%;
}

textoPlaya
{
  font-size: 4%;
}

.col2
{
  background-color: gray;   
  padding-top: 20px;
}

footer
{
  background-color: blue;
}